* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.calc {
    position: relative;
    min-height: 100vh;
    background-color: pink;
}

.container {
    display: grid;
    margin-top: 2em;
    justify-content: center;
    align-content: center;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(5,100px);
}

.container .span {
    grid-column: span 2;
}

.output-screen {
    grid-column: 1/-1;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.current {
    font-size: 2.2rem;
}

.previous {
    font-size: 1.6rem;
}

.container button {
    font-size: 1.6rem;
    border: 1px solid black;
    transition: all .3s ease;
}

.container button:hover {
    background-color: paleturquoise;
}

.container .operation {
    font-size: 2rem;
}